In [ ]:
# Data hack for Summmer Analytics

In [126]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.multioutput import MultiOutputClassifier
from sklearn.metrics import roc_auc_score

In [127]:
# Load the dataset
data = pd.read_csv('E:\Summer Analytics\dataset and all\\training_set_features.csv')

In [128]:

# Inspect the data
print(data.head())
print(data.info())

   respondent_id  xyz_concern  xyz_knowledge  behavioral_antiviral_meds  \
0              0          1.0            0.0                        0.0
1              1          3.0            2.0                        0.0
2              2          1.0            1.0                        0.0
3              3          1.0            1.0                        0.0
4              4          2.0            1.0                        0.0

   behavioral_avoidance  behavioral_face_mask  behavioral_wash_hands  \
0                   0.0                   0.0                    0.0
1                   1.0                   0.0                    1.0
2                   1.0                   0.0                    0.0
3                   1.0                   0.0                    1.0
4                   1.0                   0.0                    1.0

   behavioral_large_gatherings  behavioral_outside_home  \
0                          0.0                      1.0
1                          0.0                      1.0
2                          0.0                      0.0
3                          1.0                      0.0
4                          1.0                      0.0

   behavioral_touch_face  ...             income_poverty  marital_status  \
0                    1.0  ...              Below Poverty     Not Married
1                    1.0  ...              Below Poverty     Not Married
2                    0.0  ...  <= $75,000, Above Poverty     Not Married
3                    0.0  ...              Below Poverty     Not Married
4                    1.0  ...  <= $75,000, Above Poverty         Married

   rent_or_own   employment_status  hhs_geo_region                census_msa  \
0          Own  Not in Labor Force        oxchjgsf                   Non-MSA
1         Rent            Employed        bhuqouqj  MSA, Not Principle  City
2          Own            Employed        qufhixun  MSA, Not Principle  City
3         Rent  Not in Labor Force        lrircsnp       MSA, Principle City
4          Own            Employed        qufhixun  MSA, Not Principle  City

   household_adults  household_children  employment_industry  \
0               0.0                 0.0                  NaN
1               0.0                 0.0             pxcmvdjn
2               2.0                 0.0             rucpziij
3               0.0                 0.0                  NaN
4               1.0                 0.0             wxleyezf

   employment_occupation
0                    NaN
1               xgwztkwe
2               xtkaffoo
3                    NaN
4               emcorrxb

[5 rows x 36 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   xyz_concern                  26615 non-null  float64
 2   xyz_knowledge                26591 non-null  float64
 3   behavioral_antiviral_meds    26636 non-null  float64
 4   behavioral_avoidance         26499 non-null  float64
 5   behavioral_face_mask         26688 non-null  float64
 6   behavioral_wash_hands        26665 non-null  float64
 7   behavioral_large_gatherings  26620 non-null  float64
 8   behavioral_outside_home      26625 non-null  float64
 9   behavioral_touch_face        26579 non-null  float64
 10  doctor_recc_xyz              24547 non-null  float64
 11  doctor_recc_seasonal         24547 non-null  float64
 12  chronic_med_condition        25736 non-null  float64
 13  child_under_6_months         25887 non-null  float64
 14  health_worker                25903 non-null  float64
 15  health_insurance             14433 non-null  float64
 16  opinion_xyz_vacc_effective   26316 non-null  float64
 17  opinion_xyz_risk             26319 non-null  float64
 18  opinion_xyz_sick_from_vacc   26312 non-null  float64
 19  opinion_seas_vacc_effective  26245 non-null  float64
 20  opinion_seas_risk            26193 non-null  float64
 21  opinion_seas_sick_from_vacc  26170 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    25300 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               22284 non-null  object
 27  marital_status               25299 non-null  object
 28  rent_or_own                  24665 non-null  object
 29  employment_status            25244 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26458 non-null  float64
 33  household_children           26458 non-null  float64
 34  employment_industry          13377 non-null  object
 35  employment_occupation        13237 non-null  object
dtypes: float64(23), int64(1), object(12)
memory usage: 7.3+ MB
None

In [129]:
# Preprocess the data
# Define feature columns by dropping columns with close to 50% missing
feature_cols = data.columns.drop(['employment_industry', 'employment_occupation'])

In [130]:
data2 = pd.read_csv("E:\Summer Analytics\dataset and all\\training_set_labels.csv")
data2.head()

   respondent_id  xyz_vaccine  seasonal_vaccine
0              0            0                 0
1              1            0                 1
2              2            0                 0
3              3            0                 1
4              4            0                 0

In [131]:
X = data[feature_cols]
X

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,race,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,White,Male,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,White,Female,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,White,Female,NaN,Not Married,Own,NaN,lzgpxyit,"MSA, Not Principle City",0.0,0.0
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,Hispanic,Female,"<= $75,000, Above Poverty",Married,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0

In [132]:
y = data2[['xyz_vaccine', 'seasonal_vaccine']]
y

       xyz_vaccine  seasonal_vaccine
0                0                 0
1                0                 1
2                0                 0
3                0                 1
4                0                 0
...            ...               ...
26702            0                 0
26703            0                 0
26704            0                 1
26705            0                 0
26706            0                 0

[26707 rows x 2 columns]

In [133]:
# Define the preprocessing for numerical and categorical features
numeric_features = X.select_dtypes(include=['int64', 'float64']).columns
categorical_features = X.select_dtypes(include=['object']).columns

In [134]:
# numerical transformation
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

In [135]:
# categorical transformer
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [136]:
#preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [137]:
# Define the model
model = MultiOutputClassifier(LogisticRegression(solver='liblinear', max_iter=1000))

In [138]:
# Create and train the pipeline
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', model)])

In [139]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [140]:
# Fit the model
clf.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  Index(['respondent_id', 'xyz_concern', 'xyz_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavi...
                                                                   SimpleImputer(fill_value='missing',
                                                                                 strategy='constant')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  Index(['age_group', 'education', 'race', 'sex', 'income_poverty',
       'marital_status', 'rent_or_own', 'employment_status', 'hhs_geo_region',
       'census_msa'],
      dtype='object'))])),
                ('classifier',
                 MultiOutputClassifier(estimator=LogisticRegression(max_iter=1000,
                                                                    solver='liblinear')))])

In [141]:
# Make predictions
y_pred_proba = clf.predict_proba(X_test)

In [142]:
# Extract probabilities for each target
y_pred_proba_xyz = y_pred_proba[0][:, 1]
y_pred_proba_seasonal = y_pred_proba[1][:, 1]

In [67]:
# Evaluate the model
roc_auc_xyz = roc_auc_score(y_test['xyz_vaccine'], y_pred_proba_xyz)
roc_auc_seasonal = roc_auc_score(y_test['seasonal_vaccine'], y_pred_proba_seasonal)
mean_roc_auc = (roc_auc_xyz + roc_auc_seasonal) / 2

print(f'ROC AUC for xyz_vaccine: {roc_auc_xyz}')
print(f'ROC AUC for seasonal_vaccine: {roc_auc_seasonal}')
print(f'Mean ROC AUC: {mean_roc_auc}')

ROC AUC for xyz_vaccine: 0.8278752657808706
ROC AUC for seasonal_vaccine: 0.8524542111515062
Mean ROC AUC: 0.8401647384661883

In [ ]:
# predicting for test features data

In [68]:
new_data = pd.read_csv("E:/Summer Analytics/dataset and all/test_set_features.csv")

In [69]:
features_cols_new = new_data.columns.drop(['employment_industry', 'employment_occupation'])
X_new = new_data[features_cols_new]

In [159]:
X_new['respondent_id'].shape

(26708,)

In [116]:
# Predict using the fitted pipeline
predictions = clf.predict(X_new)

In [150]:
# If you want to see the probabilities
probabilities = clf.predict_proba(X_new)

In [154]:
y_new_proba_h1n1 = probabilities[0][:, 1]
y_new_proba_seasonal = probabilities[1][:, 1]
y_new_proba_h1n1.shape

(26708,)

In [158]:
y_new_proba_seasonal.shape

(26708,)

In [117]:
# Convert the predictions to a DataFrame
predictions_df = pd.DataFrame(predictions, columns=['xyz_vaccine', 'seasonal_vaccine'])

In [118]:
predictions_df['respondent_id'] = X_new['respondent_id']

In [120]:
# Save the predictions to a CSV file
predictions_df.to_csv("E:/Summer Analytics/dataset and all/new_data_predictions2.csv", index=False)

print("Predictions saved to CSV.")

Predictions saved to CSV.

In [79]:
predictions_df[['xyz_vaccine', 'seasonal_vaccine']].sum()

xyz_vaccine          3309
seasonal_vaccine    11695
dtype: int64

In [80]:
y.sum()

xyz_vaccine          5674
seasonal_vaccine    12435
dtype: int64

In [160]:
df = pd.DataFrame({
    'xyz_vaccine': y_new_proba_h1n1,
    'seasonal_vaccine': y_new_proba_seasonal
})

In [161]:
df

       xyz_vaccine  seasonal_vaccine
0         0.090537          0.259924
1         0.047753          0.034904
2         0.473896          0.635652
3         0.497932          0.876301
4         0.161871          0.447712
...            ...               ...
26703     0.350598          0.508932
26704     0.083017          0.205981
26705     0.134541          0.195557
26706     0.051879          0.328437
26707     0.558643          0.502341

[26708 rows x 2 columns]

In [162]:
df.to_csv("E:/Summer Analytics/dataset and all/new_data_probabilities.csv", index=False)

print("Predictions saved to CSV.")

Predictions saved to CSV.